*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #000;
}
.content{
  width: 100%;
}
.tech{
  color: rgb(253, 79, 61);
}
h2{
  font-size: 80px;
  font-weight: 500;
  color: #222;
  letter-spacing: 5px;
}

h2 span {
  transition: 0.5s;

}
h2:hover span:nth-child(1) {
  margin-right: 10px;
}
h2:hover span:nth-child(1):after {
  content:"'" ;
}
h2:hover span:nth-child(2) {
  margin-left: 40px;
}
h2:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
              0 0 20px #fff,
              0 0 5px #fff  
}

